*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.home{
    background-color: rgb(96, 131, 26);
   height:400px;
   img{
       height: 100%;
       width: 100%;
       object-fit: fill;
   }
}