.jumbotron {
    height: 300px;
    width: 100%;
    background-image: url(../img/jumbotron.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.container-fluid{
    background-color: #1C1C1C;
    color: whitesmoke;
    margin-top: -35px;
    .slot-container{
        padding: 100px;
        .slot{
    
            text-align: center;
            .img{
              
              
              img{
                  width: 100%;
                  height: 100%;
                  object-fit: fill;
                  margin: auto;
              }
          }
      }
    }
   
  
}
